@use '../vars';

$colors: (
  'cyan': vars.$cyan,
  'violet': vars.$violet100,
);

button {
  cursor: pointer;
  color: vars.$white;
  outline: none;
  border: none;
  font-weight: bold;
  padding: calc(vars.$padding-s/1.4) vars.$padding-m;
  transition: filter 0.4s ease;

  &:hover {
    filter: contrast(1) brightness(125%) saturate(0.5);
  }

  &.pill {
    border-radius: 99em;
  }
}

@each $name, $color in $colors {
  .button-#{$name} {
    background-color: $color;
  }
}
