@use '../vars';
@use '../mixins' as *;

$icons: (
  'recognition': '../../assets/img/icon-brand-recognition.svg',
  'records': '../../assets/img/icon-detailed-records.svg',
  'customisable': '../../assets/img/icon-fully-customizable.svg',
);

.card {
  position: relative;
  flex: 1;

  &__icon {
    display: flex;
    padding: 0 2em;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: -44px;
  }
  @each $name, $icon in $icons {
    &__icon-#{$name} {
      border-radius: 50%;
      height: 88px;
      width: 88px;
      background-color: vars.$violet100;
      background-image: url($icon);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__inner {
    background-color: vars.$white;
    border-radius: 5px;
    padding: 4em 2em 2em 2em;
    text-align: center;

    h3 {
      color: vars.$blue;
      margin-bottom: vars.$padding-s;
    }

    p {
      font-size: 0.83em;
      color: vars.$grey200;
      line-height: 1.7;
    }
  }

  @include break('medium') {
    &:nth-of-type(2) {
      margin-top: 3rem;
    }
    &:nth-of-type(3) {
      margin-top: 6rem;
    }
    .card {
      &__icon {
        justify-content: flex-start;
      }
      &__inner {
        text-align: left;
      }
    }
  }
}