@use '../vars';
@use '../layout';
@use '../mixins' as *;

nav {
  padding: vars.$padding-m 0;
  .nav__logo {
    margin-right: 2rem;
    width: auto;
    overflow: visible;
  }
  .nav__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .mobile-toggle {
    height: 21px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    div {
      width: 24px;
      height: 3px;
      background-color: vars.$grey200;
    }
  }
  .nav__links {
    display: none;
    span {
      cursor: pointer;
      width: 100%;
      color: vars.$white;
      font-weight: bold;
      letter-spacing: 0.5px;
      font-size: 1em;
      padding: vars.$padding-s 0;

      &:hover {
        color: vars.$grey200;
      }
    }

    &.open {
      display: flex;
      width: 100%;
      flex-direction: column;
      position: absolute;
      top: 60px;
      background-color: vars.$violet100;
      padding: vars.$padding-m;
      border-radius: 10px;
      z-index: 2;
    }

    &--right, 
    &--left {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    hr {
      width: 100%;
      color: vars.$grey200;
      opacity: 0.25;
    }
  }

  @include break('medium') {
    .mobile-toggle {
      display: none;
    }
    .nav__links {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &--right,
      &--left {
        flex-direction: row;
        align-items: center;
      }

      hr {
        display: none;
      }

      span {
        width: auto;
        font-size: 0.83em;
        color: vars.$grey200;

        &:hover {
          color: vars.$grey100;
        }
      }
      span:not(:nth-of-type(3)) {
        margin-right: 2rem;
      }

      button {
        font-size: 0.83em;
        padding: 0.56rem 1.5rem;
      }
    }
  }
}