@use '../vars';
@use '../mixins' as *;

.shortener {
  position: relative;
  top: -50px;
  &__container {
    width: 100%;
    background: vars.$violet100 url('../../assets/img/bg-shorten-mobile.svg') no-repeat top right;
    padding: vars.$padding-m vars.$padding-m calc(vars.$padding-m - 10px) vars.$padding-m;
    border-radius: 10px;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .form__input {
        width: 100%;
        margin-bottom: 10px;
        flex: 1;

        input {
          outline: none;
          border: none;
          width: 100%;
          padding: calc(vars.$padding-s/1.4) vars.$padding-s;
          border-radius: 5px;
          color: vars.$blue-desat;
          margin-bottom: 10px;
  
          &::placeholder {
            color: vars.$blue-desat;
          }
        }
      }

    }

    .error-msg {
      font-weight: 500;
      color: vars.$red;
      opacity: 0;
      height: 0;
      font-size: 0.8rem;

      &.active {
        opacity: 100;
      }      
    }
  }
  &__links {
    margin-top: vars.$padding-m;
    width: 100%;

    .link {
      background-color: vars.$white;
      width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: vars.$padding-s;

      p {
        padding: vars.$padding-s vars.$padding-m;
        width: 100%;
      }

      &--original {
        color: vars.$blue;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 2;
        border-bottom: 1px solid vars.$grey100;
      }
      &--shortened {
        color: vars.$cyan;
        flex: 1;
      }
      button {
        margin: 0px vars.$padding-m vars.$padding-s vars.$padding-m;
      }
    }
  }

  @include break('medium') {
    .shortener {
      &__container {
        background: vars.$violet100 url('../../assets/img/bg-shorten-desktop.svg') no-repeat;
        padding: vars.$padding-l vars.$padding-l calc(vars.$padding-l - 10px) vars.$padding-l;

        form {
          flex-direction: row;
          align-items: flex-start;

          .form__input {
            margin-bottom: 0;
            margin-right: vars.$padding-m;
          }
        }
      }
      &__links {
        .link {
          align-items: center;
          flex-direction: row;

          &--original {
            width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border:  0;
          }
          &--shortened {
            text-align: right;
          }
          button {
            margin: vars.$padding-s vars.$padding-m vars.$padding-s 15px;
          }
        }
      }
    }
  }
}