@use '../vars';
@use '../layout';
@use '../mixins' as *;

.statistics {
  padding: 0 0 vars.$padding-xl 0;
  background-color: vars.$grey;
  
  &__container {
    @extend %container;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: calc(2*vars.$padding-l);
    position:relative;
    z-index: 2;
    align-items: center;

    &::after {
      content: '';
      width: 8px;
      height: 100%;
      background-color: vars.$cyan;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: calc(2*vars.$padding-l);

    h2 {
      font-size: 2.2em;
      color: vars.$blue;
      line-height: 1.25;
      margin-bottom: vars.$padding-s;
    }
    p {
      margin: auto;
      color: vars.$grey200;
      line-height: 1.6;
      max-width: 45ch;
    }
  }

  @include break('medium') {
    .statistics__grid {
      flex-direction: row;
      gap: vars.$padding-m;
      align-items: stretch;

      &::after {
        content: '';
        width: 100%;
        height: 8px;
        background-color: vars.$cyan;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
      }
    }
  }
}