$white: hsl(0, 0%, 100%);
$cyan: hsl(180, 66%, 49%);
$red: hsl(0, 87%, 67%);
$blue-desat: hsla(255, 11%, 22%, 0.5);
$blue: hsl(255, 11%, 22%);
$grey: hsl(225, 32%, 95%);
$grey100: hsl(0, 0%, 75%);
$grey200: hsl(257, 7%, 63%);
$violet100: hsl(257, 27%, 26%);
$violet200: hsl(260, 8%, 14%);
$sansSerif: 'Poppins', sans-serif;
$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 6rem;